<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script type="text/javascript">
      google.charts.load('current', {'packages':['gantt']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('string', 'Resource');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');

        data.addRows([
            {%  for a in gantt2 %}
                ['{{ a.nome }}', '{{ a.nome }}', '{{ a.recurso }}' ,new Date({{ a.data_inicio|date:"Y,n-1,j" }}), new Date({{ a.data_final|date:"Y,n-1,j" }}), null, {{ a.percent_complete }}, null],
            {% endfor %}
        ]);

        var options = {
            height: {{ height }},
          gantt: {
            trackHeight: 40,
              sortTasks: false,
              barHeight:15,
            percentStyle: {
                fill: '#fff'
            }
          }
        };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>