{% extends 'base.html' %}

{% block main %}
{%  include 'menulateral.html' %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
     <div class="container-fluid my-3 ">
        <div class="row">
            <div class="col-8">
                <div class="card p-0">
                    <canvas id="custoporarea"></canvas>
                </div>
            </div>
            <div class="col-4">
                <div class="row me-1">
                    <div class="col-12 card">
                        <h4>Teste</h4>
                    </div>
                </div>
                <div class="row me-1">
                    <div class="col-12 card">
                        <h4>Teste</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
  </main>
{% endblock %}
