{% load static %}

<div class="row mt-2 p-1">
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100 w-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">attach_money</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0 text-capitalize">Caixa Atual</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class=" text-nowrap mb-0">R$10000,00</h3>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">event</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0">Dias para à Competição</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class="mb-0">{{ hoje }}</h3>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0 text-capitalize">Atividade Completadas</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class="mb-0">32%</h3>
                </div>
              </div>
            </div>
          </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0 text-capitalize">Efetivos</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class="mb-0">43</h3>
                </div>
              </div>
            </div>
      </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0 text-capitalize">Trainees</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class="mb-0">0</h3>
                </div>
              </div>
            </div>
      </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card h-100">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-md icon-shape background-icones shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">person</i>
                </div>
                <div class="text-end pt-1">
                  <p class="test-sm mb-0 text-capitalize">Conselheiros</p>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-2 text-center">
                  <h3 class="mb-0">10</h3>
                </div>
              </div>
            </div>
      </div>
    </div>