{% load static %}


        <div class="col-8">
          <div class="card h-100">
            <div class="card-header d-flex align-item-center justify-content-center" style="background-color: #212121; padding:0.5rem;"><h5 class="text-white">Informações Gerais</h5></div>
            <hr class="dark horizontal my-0">
            <div class="card-body ">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                    <div class="carousel-item active">
                      <canvas id="myChart" width="100%" style="max-width: 100%;"></canvas>
                    </div>
                    <div class="carousel-item">
                      <canvas id="membroporarea" width="100%" style="max-width: 100%;"></canvas>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>
            </div>
          </div>
            </div>
        </div>